<!DOCTYPE html>
<html>
  <head>
    <title>Hack and Slash</title>
  </head>
  <body>
    <canvas class ='game-field'></canvas>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>

    <script src="webgazer.js" type='javascript'></script>
    <script src='./scripts/frontend.js'></script>
    <style>
     canvas{
       background: white
     }
     body{
       margin: 0px;
     }
    </style>
  </body>
</html>
